<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title><%= title %></title>
    <link rel='stylesheet'  href='stylesheet.css' />
  </head>
  <body>
    <div class="con-login">
        <h1>Register</h1>
        <div class="con-inputs">
            <div class="con-input">
                <label for="name">User Name</label>
                <input placeholder="User name" id="name" type="text" required autofocus>
            </div>
            <div class="con-input">
                <label for="email">Email</label>
                <input placeholder="name@domain.com" id="email" type="text" required>
            </div>
            <div class="con-input">
                <label for="password">Password</label>
                <input id="password" placeholder="Password" type="password" required>
            </div>
            <div class="con-loginsnip">
              <a href="/">Login</a>
            </div>
        </div>
      <footer>
        <button class="btn-login" onclick="window.location.href='/'">Register</button>
      </footer>
    </div>
  </body>
</html>
