<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='../public/stylesheet.css' />
  </head>
  <body>
    <div class="con-login">
        <h1>Main Page</h1>
    </div>
  </body>
</html>
